@import url('https://fonts.cdnfonts.com/css/clarendon');

/*Page */
body {
    background-color: #0065af;
    color: white;
    /*font-family: 'Clarendon', sans-serif;*/
    overflow: hidden;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
 }

header {
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3%;
    background-color: #33a7f1;
    display: flex;
    align-items: center;
}

footer p {
    margin: 0;
    padding-left: 1%;
}


h1 {
    margin: 0;
    margin-bottom: 4%;
}


.yellow {
    color: #e2e72d;
}


/*No train*/
.bodywarning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }


.warning p {
    text-align: center;
        display: table-cell;
        padding: 10px;
        border: 3px dashed #1c87c9;
        vertical-align: middle;
    font-size: 20px;
  }



/*Train drawing*/
.arrow{
    color:black;
    background: #DCDCDC;/*#ffffff;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 25px;
    
}

#container{
    min-height: 100px;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#zones{
    display: flex;   
    background: #DCDCDC;/*#ffffff;*/
}
.zone{
    background-color: #0065af;
    flex: 1; /* Chaque élément aura la même largeur */
    margin: 5px; 
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 2; 
}

.zone:first-child {
    margin-left: 2px;
}

#train{
    display: flex;
}

/*Form carriage*/
.cb{
    font-weight: bold;
    /*height: 30px;*/
    height: 50px;
    margin-right: 4.8px;
    background:#003058;
    flex: 1; /* Chaque élément aura la même largeur */
    margin: 5px; 
    position: relative;
}

.locoR{
    -webkit-border-radius: 0px 800px 70px 0px;
    -moz-border-radius: 0px 800px 70px 0px;
    border-radius: 0px 800px 70px 0px;
}

.locoL{
    -webkit-border-radius: 800px 0px 0px 70px;
    -moz-border-radius: 800px 0px 0px 70px;
    border-radius: 800px 0px 0px 70px;
}

/*Content carriage*/
.right-top{
    position: absolute;
    top:10%;
    right:1%;
}

.right-bottom{
    position: absolute;
    bottom:10%;
    right:1%;
}

.left-top{
    position: absolute;
    top:10%;
    left:1%;
}

.left-bottom{
    position: absolute;
    bottom:10%;
    left:1%;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
