@import url('https://fonts.cdnfonts.com/css/clarendon');


body {
    background-color: #0065af;
    color: white;
    /*font-family: 'Clarendon', sans-serif;*/
    overflow: hidden;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
 }

header {
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3%;
    background-color: #33a7f1;
    display: flex;
    align-items: center;
}

footer p {
    margin: 0;
    padding-left: 1%;
}


h1 {
    margin: 0;
    margin-bottom: 4%;
}


.yellow {
    color: #e2e72d;
}

.bodywarning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }


.warning p {
    text-align: center;
        display: table-cell;
        padding: 10px;
        border: 3px dashed #1c87c9;
        vertical-align: middle;
    font-size: 20px;
  }

.train {
    background-color: white;
    position: fixed;
    bottom: 50;
    width: 96%;
    height: 50px;
    display: flex;
    align-items: center;
}

.barre {
    left : 15px;
    position: fixed;
    bottom: 75;
    width: 96%;
    height: 50px;
    font-size: 20px;
    letter-spacing: 78px;
<<<<<<< HEAD
=======
    
}


.cb{
    width: 84.7px;
    height: 30px;
    margin-right: 4.8px;
    background:#003058;
}

.cw{
    width: 84.7px;
    height: 30px;
    margin-right: 4.8px;
    background:#ffffff;
}



#c10{
    -webkit-border-radius: 0px 800px 70px 0px;
    -moz-border-radius: 0px 800px 70px 0px;
    border-radius: 0px 800px 70px 0px;
>>>>>>> 3b15d88309140629bd4bdb5f674c6e8955ff13d2
}
