<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <title>Project</title>
    </head>

    <body>
        <header>
            {% if error == "No" %}
                <h1>{{ departure_time }}<h1>
            {% else %}
                <h1>No train<h1>
            {% endif %}
            <h1>S{{ platform }}</h1>
        </header>
        {% if error != "No" %}
            <div class="bodywarning">
                <div class="warning">
                    <p>{{ error }}</p>
                </div>
            </div>
        {% else %}
            <h1 class="yellow">{{ destination }}</h1>
            
            <p>This train will stop at :</p>
            	<p>
            	    {% for stop in stops %}
            	        {{stop}} <b>-</b>
            	    {% endfor%}
            	    <span class="yellow">{{ destination }}</span>
            	</p>
            
            <p> Confort advantages : 
                {% for advantage in facilities %}
                    {% if advantage ==  'airconditioning'%}
                        <i class="fa fa-fan"></i>
                    {% elif advantage ==  'heating'%}
                        <i class="fa fa-temperature-high"></i>
                    {% endif %}
                {% endfor%}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                Occupancy : {{composition_occupancy}}
            </p>
            <h2>Infos</h2>
            <p>Carriages: {{ carriages }}</p>
            <p>{{ zone_markers }}</p>
            
            <!--<div id="variables" data-flask-variable="{{ carriages }}"></div>-->
            <div id="carriages" data-flask-variable="{{ carriages }}"></div>
            <div id="zone_markers" data-flask-variable="{{ zone_markers }}"></div>
            <div id="tchoutchou"><script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script></div>

        {% endif %}
        <footer>
            {% if next_departure_time != "None" and next_departure_time != "None" %}
                <p><strong>Next train : </strong> {{next_departure_time}} <span class="yellow"> {{ next_destination }} </span> </p>
            {% else %}
                <p><strong>No next train ! This is the last !</strong></p>
            {% endif %}
        </footer>
        </body>
</html>
